/* !Restaurant Container */
.restaurant__container {
    margin-top: 2rem;
    border: 2px solid red;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}



/* !Restaurant Card */

.restaurant__card {
    width: 280px;
    min-height: 300px;
    padding: 1rem 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant__card_info {
    width: 90%;
    margin: auto;
    text-align: center;
}

.food__image {
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

.food__rating {
    display: flex;

    justify-content: space-between;
    align-items: center;
}


/*! feature container */

.restaurant__feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}



/* Active Btn conditional */

.active__btn {
    background-color: black;
    color: white;
}