.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid greenyellow;
    padding: 0.5rem;

}

/* !Logo styling */

.logo__container {
    aspect-ratio: 1;
    height: 4rem;
    margin-left: 4rem;
    cursor: pointer;
}

.logo__container .logo {
    height: inherit;
    width: inherit;
}

/* !NavLinks Styling */
.nav__items ul {
    display: flex;

}

.nav__items ul li {
    list-style: none;
    margin-right: 4rem;
    text-transform: uppercase;
}